 <div class="container px-5 px-sm-0">
 <div class="row">
 <div class="col-md-3">
  
 <h2>User info</h2>
 
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60,  fallback: "no-image.png" %>
 
 <table class="table">
   <tbody>
     <tr></tr>
     <tr>
     <th>name</th>
     </tr>
     <tr>
       <th>introduction</th>
     </tr>
  </tbody>
</table>

    <div class="row">
      <a class="btn btn-outline-secondary btn-block fas fa-user-cog" href="/users/33068/edit"></a>
    </div>
 
 
 
  <h2>New book</h2>
 <%= form_with model:@book , local:true do |f| %>
 
 
  <div class="form-group">
     <label for="book_title">Title</label>
     <input class="form-control book_title" type="text" name="book[title]" id="book_title">
  </div>
  
  <div class="form-group">
  <label for="book_opinion">Opinion</label>
  <textarea class="form-control book_body" name="book[body]" id="book_body"></textarea>
  </div>
  
  
   <div class="form-group">
   <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
   </div>
   
   <% end %>
   
   </div>
   
   <div class="col-md-8 offset-md">
     <h2>Books</h2>
  <table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
  </tbody>
</table>
   </div>
   </div>
   </div>