 <h1>welcome to Bookers</h1>
 <h2>in Bookers</h2>
 
 <h3>you can share and exchanpe your opinions, inpressions, and emotions</h3>
 <h3>about various books!</h3>
 
  <%= link_to "Login", new_user_session_path %></br>
  
 <%= link_to "Sign up", new_user_registration_path %>