 <div class="container">
 <div class="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-x1-6">
 <h1>welcome to Bookers</h1>
 <h2>in Bookers</h2>
 
 <h3>you can share and exchanpe your opinions, inpressions, and emotions</h3>
 <h3>about various books!</h3>
 
  <%= link_to "Login", new_user_session_path %></br>
  
<a class="btn btn-success" href="/users/sign_up">Sign up</a>
 
 
 </div>
<div class="containar">
 <div class="row">